html, body {
    height:100%;
    overflow: hidden;
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 15px;
}

div#daddy {
    height: 70%;
	width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 20px;
}

div#projects {
    overflow-y:auto;
    float: left;
	width: 30%;
    height: 100%;
    /* box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19); */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(0, 0, 0, 0.03);
}

div#todoItems {
    overflow-y:auto;
    float: left;
    display: block;
    width: 70%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

div#projectsTitle {
    text-align: center;
}

div#todoItemsTitle {
    text-align: center;
}

div.project {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    border-radius: 15px;
}

div.project:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

div.todo {
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}

div.todo:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: tomato;
    font-weight: bold;
}

div.chosenProject {
    background-color: rgba(0, 0, 0, 0.05);
}

div.chosenTodo {
    color: white;
    background-color: tomato;
    font-weight: bold;
}

div.divInpBtn {
    text-align: center;
}

button.removeItem {
    cursor: pointer;
    float: right;
    outline: none;
    border: none;
    color: teal;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
}

button.removeItem:hover {
    border-radius: 10px;
    background-color: tomato;
}

button.addItem {
    outline: none;
    background-color: transparent;
    border: none;
    color: tomato;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

button.addItem:hover {
    background-color: tomato;
    color: teal;
    border-radius: 10px;
}

input[type='checkbox'] {
    float: left;
}

input[type='text'] {
    font-family: 'Dosis', sans-serif;
    width: 70%;
    border: none;
    border-bottom: solid 1px black;
    outline: none;
    margin-right: 10px;
    font-size: 15px;
    background-color: transparent;
}

input[type='text']:hover {
    border-bottom: solid 1px tomato;
}

input[type='text']:focus {
    border-bottom: solid 1px tomato;
}

details, summary {
    outline: none;
    cursor: pointer;
}

summary:hover {
    color: tomato;
}

details summary::-webkit-details-marker {
    font-size: 100%;
}

.strikethrough {
    text-decoration: line-through;
}

div#modal {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background-color: rgba(0, 0, 0, 0.5);
}

div#modalContent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
    padding: 20px;
}

div#modalContent h1 {
    margin: 0;
}

form#addTodoItem {
    padding-top: 20px;
}

