html, body {
    height:100%;
    overflow: hidden;
    font-family: 'Itim', cursive;
    margin: 0;
    padding: 0;
    font-size: large;
    background-color: white;
}

div#daddy {
    height: 70%;
	width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

div#projects {
    overflow-y:auto;
    float: left;
	width: 30%;
    height:100%;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
}

div#todoItems {
    overflow-y:auto;
    float: left;
    display: block;
    width: 70%;
    height: 100%;
}

div#projectsTitle {
    text-align: center;
}

div#todoItemsTitle {
    text-align: center;
}

div.project {
    background-color:#FFEAE5;
    margin: 10px 50px 10px 50px;
    padding: 10px;
}

div.todo {
    background-color: #FFEAE5;
    margin: 10px 50px 10px 50px;
    padding: 10px;
}

button.removeItem {
    float: right;
    outline: none;
    background-color: #FFEAE5;
    border: none;
    color: deeppink;
}

button.addItem {
    outline: none;
    background-color: white;
    border: solid 2px deeppink;
    color: deeppink;
    font-size: 20px;
}

button.addItem:hover {
    background-color: deeppink;
    color: white;
}

input[type='checkbox'] {
    float: left;
}

details, summary {
    outline: none;
    cursor: pointer;
}

.strikethrough {
    text-decoration: line-through;
}

div#modal {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background-color: rgba(0, 0, 0, 0.5);
}

div#modalContent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
    padding: 20px;
}

div#modalContent h1 {
    margin: 0;
}

form#addTodoItem {
    padding-top: 20px;
}

